<!--footer-->

    <div class="container-fluid g-0 altura_footer bg-dark bg-opacity-75 " id="info">
        <div class="row container-fluid justify-content-center">
            
            <div class="col-4 g-0">
                
                
            
            </div>
            <div class="col-4 g-0">
                    
                
            
            </div>
            <div class="col-md-4 col-12 g-0">
                
                <div class="btn-group  md-float-end justify-content-center  p-4" role="group" aria-label="Basic example">
                    <button type="button" class="btn  p-0 "><img height="40" src="/assets/img/logos/twitter.png" alt=""></button>
                    <button type="button" class="btn  p-0 "><img height="40" src="/assets/img/logos/instagram.png" alt=""></button>
                    <button type="button" class="btn  p-0 "><img height="40" src="/assets/img/logos/facebook.png" alt=""></button>
                    <button type="button" class="btn  p-0 "><img height="40"  src="/assets/img/logos/EMAIL.png" alt=""></button>
                    <button type="button" class="btn  p-0 "><img height="40" src="/assets/img/logos/behance.png" alt=""></button>
                </div>
            
            </div>
        </div>
    </div>

<!--footer-->
