<!--navbar-->

<nav class=" navbar navbar-dark colorbg   navbar-expand-md colorToggler fixed" id="navbar">
    <div class=" container-fluid g-0 g-dark">
        <!--logos-->
        
        <a id="logos" class="navbar-brand  colorToggler .navbar-right px-md-0 mx-0"  href="#" >
            <img  height="50"  src="/assets/img/logos/APLogo-20-20.png">
            <img  height="50" src="/assets/img/LogosInti.png">
        </a>
        
        <!--logos-->
        <!--navbar-toggler-->
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
           
            <span class=" navbar-ligh navbar-toggler-icon"></span>
           
        </button>
        <!--navbar-toggler-->
        <div class="collapse navbar-collapse  mx-0 px-md-0" id="navbarSupportedContent">
            <ul class="navbar-nav  ms-auto">
                <li class="nav-item"><a  routerLink="/home" routerLinkActive=""  class="nav-link button_style text-center"  href="#">HOME</a></li>
                <li class="nav-item "><a routerLink="/education" routerLinkActive=""   class="nav-link button_style text-center" href="#">EDUCACIÓN</a></li>
                <li class="nav-item"><a  routerLink="/skills" routerLinkActive=""  class="nav-link  button_style text-center " href="#">SKILLS</a></li>
                <li class="nav-item "><a routerLink="/jobs" routerLinkActive=""   class="nav-link  button_style text-center " href="#">EXPERIENCIA</a></li>
                <li class="nav-item"><a  routerLink="/works" routerLinkActive=""  class="nav-link  button_style text-center " href="#">TRABAJOS</a></li>
                
                <login></login>
            </ul>
        </div>
        <!--navbar-toggler-->
    </div>   
</nav>

<!--navbar-->
