<!--BANNER-->
<div class="container justify-content-center max-width960 g-0" id="banner" >
    <!--fila1-->
    <div class="row container-fluid justify-content-center g-0  "  id="row1">
        <!--BANNER slider 1-->
        <div class="col-2 sinmargen" >
            <div id="bannerSlider1"  class="carousel slide margin g-0" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/banner_image/banner.png" class="d-block  g-0 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/banner_image/banner1.png" class="d-block  g-0 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/banner_image/banner8.png" class="d-block  g-0 " alt="...">
                    </div>
                </div>
            </div>
            
        </div>
        <!--BANNER slider 1-->
        
        <!--BANNER slider 2-->
        <div class="col-2 sinmargen ">
            
            <div id="bannerSlider2"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active px-md-0 mx-0">
                        <img src="/assets/img/banner_image/banner1.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner2.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner9.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 2-->

        <!--BANNER slider 3-->
        <div class="col-2 sinmargen ">
            
            <div id="bannerSlider3"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active px-md-0 mx-0">
                        <img src="/assets/img/banner_image/banner2.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner3.png" class="d-block px-0 mx-0 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
            

        </div>
        <!--BANNER slider 4-->
        <div class="col-2 sinmargen  ">
            <div id="bannerSlider4"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/banner_image/banner3.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner4.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner1.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 4-->
        
        <!--BANNER slider 5-->
        <div class="col-2  sinmargen">
            <div id="bannerSlider6"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img src="/assets/img/banner_image/banner5.png" class="d-block sinmargen " alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/assets/img/banner_image/banner6.png" class="d-block sinmargen " alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/assets/img/banner_image/banner3.png" class="d-block sinmargen" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 5-->
        <!--BANNER slider 6-->
        <div class="col-2 sinmargen  ">
            <div id="bannerSlider7"  class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/banner_image/banner6.png" class="d-block px-0 mx-0 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner4.png" class="d-block  px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 6-->
    
    </div>
    <!--fila1-->
    <!--fila2-->
    <div class="row container-fluid justify-content-center g-0 "  id="row2">
        <!--BANNER slider 1-->
        
        <div class="col-2 sinmargen ">
            
            <div id="bannerSlider2"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active px-md-0 mx-0">
                        <img src="/assets/img/banner_image/banner1.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner2.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner9.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 1-->
        
        <!--BANNER slider 2-->
        <div class="col-2  sinmargen " >
            <div id="bannerSlider1"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/banner_image/banner.png" class="d-block " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner1.png" class="d-block " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner8.png" class="d-block " alt="...">
                    </div>
                </div>
            </div>
            
        </div>
        <!--BANNER slider 2-->

        <!--BANNER slider 3-->
        <div class="col-2 sinmargen ">
            
            <div id="bannerSlider3"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active px-md-0 mx-0">
                        <img src="/assets/img/banner_image/banner2.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner3.png" class="d-block px-0 mx-0 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
            

        </div>
        <!--BANNER slider 4-->
        <div class="col-2  sinmargen ">
            <div id="bannerSlider4"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/banner_image/banner3.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner4.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner1.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 4-->
        <!--BANNER slider 5-->
        <div class="col-2  sinmargen ">
            <div id="bannerSlider5"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/banner_image/banner4.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner5.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner2.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 5-->

        <!--BANNER slider 6-->
        <div class="col-2  sinmargen ">
            <div id="bannerSlider6"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/banner_image/banner5.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner6.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/banner_image/banner3.png" class="d-block px-0 mx-0" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER slider 6-->
        
    
    
    </div>
    
</div> 
