<!--sobre mi-->

<div class="row container-fluid justify-content-center g-0 barra_altura  bg-dark">
    <div class="col-sm-2 col-md-3 col-xl-2 col-12-position-absolute">
        <div class=" container position-relative positionRelative" >  
            <img class="position-absolute start-50 top-0 translate-middle rounded-circle" height="230"  src={{urlImg}}>
        </div>
    </div>
    <div class="col-12 col-lg-4  d-inline-block margintop125 mt-lg-0">
        <div class="position-relative p-3"> 
            <div class="text-light text-center text-lg-start h1">{{persona.titulo}}</div>
            <div class="text-light text-center text-lg-start">
                <p>{{persona.descripcion}}</p>
            </div>    
        </div>
    </div>
    
</div>

<!--sobre mi-->    
