
.tituloImg{
    width: 200px!important;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

modal-body{
    color: black!important;
}
.works {
    transition: transform .2s; 
    
    height: 200px;
    width: 200px!important;
    min-width: 200px!important;
    overflow: hidden;
    z-index: 0;
    
}

.works:hover {
    transform: scale(1.1);  
    transform-origin: 0px 350px 0px 0px  ;
    overflow: hidden;
    transition: .2s linear;
    
    z-index: 1;
    

}
.max-width800{
    max-width:1000px;
    justify-content: center!important;
}


.sinmargen {
    margin: 0!important;
    padding: 0!important;
}

.tamaño_imagen{
    height: 200px;
    margin: 0px,0px,0px,-50px;
}
.coment{
    width: 200px;
    height: 200px;
    background-color: black;
    font-size: small;
    font-weight: 200;
    padding: 1rem ;
}

@media only screen and (max-width: 415px) {
    .works {
        transition: transform .2s; 
        height: 200px;
        width: 200px!important;
        min-width: 200px!important;
        overflow: hidden;
    }
    .works:hover {
        transform: scale(1.1);  
        overflow: hidden;
        transform-origin: 0px 350px 0px 0px;
        
    
    }
}

@media only screen and (min-width: 415px) {
    .works {
        transition: transform .2s; 
        height: 200px;
        width: 200px!important;
        min-width: 200px!important;
        overflow: hidden;
        
        
    }
    .works:hover {
        transform: scale(1.1);  
        overflow: hidden;
    }
}

.fontcolor2{
    color:#f15a29;
    font-weight: 300;
}

.fontcolor1{
    color: rgba(98, 248, 243, 0.801);
    font-weight:100;
    font-size: 1rem;
}
.backgroundcolor{
    background-color:  rgb(57, 31, 129);
}

.gradientline1 {
 
    border-style: solid;
    border-width: 1rem;
    border-image: linear-gradient(to left, rgb(57, 31, 129) 1%,rgb(166, 244, 248) 50%,rgb(57, 31, 129) 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
    
  
    background-color:rgb(57, 31, 129);
    
}

.cursor{
    cursor: pointer;
}
